.btn
  position: relative
  width: auto
  padding: 13px 20px
  font-family: $font-primary
  border-radius: 50px
  outline: none
  border: 2px solid $cBlack10
  font-size: 16px
  font-weight: 600
  cursor: pointer

  &::before
    position: absolute
    content: ""
    height: 100%
    width: 100%
    right: -4px
    bottom: -5px
    background: $cBlack
    border-radius: 50px
    z-index: -1

// RED COLOR
.btn-red 
  background: $cRed

.btn-white 
  background: $cWhite

// BUTTON MENU
.btn-menu 
  background: none 
  border: none