*, html 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  font-family: $font-primary

.container 
  width: 100%
  max-width: 1180px
  margin: 0 auto
  padding: 0 15px

a 
  color: $cBlack10
  text-decoration: none
  font-size: 16px

.partners-section 
  margin-top: 50px
  padding: 75px
  background: $cWhite-10

  h2 
    text-align: center 
    margin-bottom: 50px

  .partner-list 
    display: flex 
    flex-wrap: wrap
    justify-content: center
    gap: 40px 
    align-items: center

.services-section 
  padding: 100px 0

  .service-list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px
    row-gap: 40px

  .service-card 
    position: relative
    border: 2px solid $cBlack
    border-radius: 10px
    padding: 20px
    height: 270px