*, html 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  font-family: $font-primary

.container 
  width: 100%
  max-width: 1180px
  margin: 0 auto
  padding: 0 15px

a 
  color: $cBlack10
  text-decoration: none
  font-size: 16px

.section-header
  display: flex 
  justify-content: space-between
  align-items: center
  margin-bottom: 60px

  h3 
    font-size: 25px
    font-weight: 800

  span 
    display: block 
    margin-bottom: 10px

.section-text
  h2 
    text-align: center
    font-size: 25px
    font-weight: 800
    margin-bottom: 15px
  p 
    text-align: center
    line-height: 27px

.partners-section 
  margin-top: 50px
  padding: 75px
  background: $cWhite-10

  h2 
    text-align: center 
    margin-bottom: 50px

  .partner-list 
    display: flex 
    flex-wrap: wrap
    justify-content: center
    gap: 40px 
    align-items: center

.services-section 
  padding: 100px 0

  .service-list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px
    row-gap: 40px

  .service-card 
    position: relative
    border: 2px solid $cBlack
    border-radius: 10px
    padding: 30px
    height: 270px

  .service-icon 
    background: $cRed 
    border-radius: 100%
    height: 50px
    width: 50px
    display: flex 
    align-items: center
    justify-content: center 
    margin-bottom: 20px

    img 
      height: 30px
      width: 30px

  h4 
    font-size: 25px
    margin-bottom: 20px
    color: $cBlack30
    font-weight: 800

  p 
    font-size: 16px
    line-height: 24px
    color: $cBlack20

  .cv1 
    &::before
      content: ""
      position: absolute
      background: $cBlue
      height: 100%
      width: 100%
      top: 6px
      left: 6px
      z-index: -1
      border-radius: 10px 

  .cv2 
    &::before
      content: ""
      position: absolute
      background: $cYellow
      height: 100%
      width: 100%
      top: 6px
      left: 6px
      z-index: -1
      border-radius: 10px
    
.about-section 
  background: url('../assets/about-background.webp')
  // height: 400px
  width: 100%
  padding: 85px 0
  color: $cWhite

  .container 
    display: grid 
    grid-template-columns: 1fr 480px
    gap: 90px

  h1 
    font-size: 45px
    margin-bottom: 60px

  .about-text
    p 
      font-size: 1rem
      margin-bottom: 30px
      line-height: 27px

  .industries
    display: flex 
    gap: 40px

  .statistics 
    display: flex 
    justify-content: space-between
    margin-top: 90px
  
  .stats
    text-align: center

    p 
      margin-bottom: 0

    .stats-number
      font-size: 45px
      font-weight: 800
      margin-bottom: 20px

// FEATURED SECTION
.featured-works
  padding: 100px 0

  .featured-works-list 
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 50px

    div, img
      background: red 
      height: 300px
      width: 100%
      border-radius: 10px
      border: 2px solid $cBlack
      object-fit: cover

// TESTIMONIAL SECTION
.section-testimonial
  background: $cWhite-11
  padding: 100px 0
  position: relative
  z-index: 1

  .testimonials 
    display: grid 
    grid-template-columns: 1fr 1fr 1fr
    gap: 50px 
    margin-top: 55px

  .testimonial-card
    position: relative
    border: 2px solid $cBlack
    border-radius: 10px
    padding: 30px
    height: 200px
    background: $cWhite
    width: 100%

    &::before
      content: ""
      position: absolute
      background: $cBlack
      height: 100%
      width: 100%
      top: 6px
      left: 6px
      z-index: -1
      border-radius: 10px

// FAQ SECTION
.section-faq
  padding: 100px 0

  .accordion 
    margin-top: 65px
    .acc-item 
      border-bottom: 1px solid $cBlack
      padding: 20px 30px
      cursor: pointer

    .acc-item:nth-child(1)
      border-top: 1px solid $cBlack

    .acc-item.active 
      background: #F4F7FF

    .acc-question
      font-size: 18px
      font-weight: 800
      display: flex
      gap: 40px
      align-items: center
      justify-content: space-between
      
    .acc-answer 
      margin-top: 25px
      line-height: 27px
      max-width: 850px

    .acc-arrow 
      height: 35px
      width: 35px
      transition: 0.2s

    .rotate-45 
      transform: rotate(-45deg)
      transition: 0.2s

// EMAIL CTA
.email-cta
  position: relative
  height: 310px
  width: 100%
  background: $cBlue10
  border-radius: 10px
  border: 2px solid $cBlack
  padding: 0 60px
  display: flex 
  align-items: center
  margin: 50px 0 90px

  .email-text
    margin-bottom: 40px
    color: $cWhite

    h2 
      font-size: 25px
      margin-bottom: 15px

    p 
      line-height: 27px
      font-weight: 300

  .email-figure 
    position: absolute
    right: -40px
    bottom: -5px


.icon:hover 
  color: red