@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.btn, button {
  width: auto;
  padding: 13px 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 50px;
  outline: none;
  border: 2px solid #1D1D1D;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-red {
  background: #FF5D5D;
}

.btn-white {
  background: #fff;
}

.navbar {
  height: 100px;
  display: flex;
  align-items: center;
}
.navbar .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-section h1 {
  font-size: 65px;
  font-weight: 800;
  margin-bottom: 11px;
  text-align: center;
  margin-top: 115px;
}
.hero-section p {
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 30px;
}
.hero-section .hero-cta {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
.hero-section .hero-cta .btn {
  width: 150px;
}
.hero-section .hero-img {
  display: block;
  margin: 0 auto;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #1D1D1D;
  text-decoration: none;
  font-size: 16px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.section-header h3 {
  font-size: 25px;
  font-weight: 800;
}
.section-header span {
  display: block;
  margin-bottom: 10px;
}

.section-text h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 15px;
}
.section-text p {
  text-align: center;
  line-height: 27px;
}

.partners-section {
  margin-top: 50px;
  padding: 75px;
  background: #F5F5F5;
}
.partners-section h2 {
  text-align: center;
  margin-bottom: 50px;
}
.partners-section .partner-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.services-section {
  padding: 100px 0;
}
.services-section .service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  row-gap: 40px;
}
.services-section .service-card {
  position: relative;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 30px;
  height: 270px;
}
.services-section .service-icon {
  background: #FF5D5D;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.services-section .service-icon img {
  height: 30px;
  width: 30px;
}
.services-section h4 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #282828;
  font-weight: 800;
}
.services-section p {
  font-size: 16px;
  line-height: 24px;
  color: #3A3A3A;
}
.services-section .cv1::before {
  content: "";
  position: absolute;
  background: #CFE2FF;
  height: 100%;
  width: 100%;
  top: 6px;
  left: 6px;
  z-index: -1;
  border-radius: 10px;
}
.services-section .cv2::before {
  content: "";
  position: absolute;
  background: #FFF4CF;
  height: 100%;
  width: 100%;
  top: 6px;
  left: 6px;
  z-index: -1;
  border-radius: 10px;
}

.about-section {
  background: url("../assets/about-background.webp");
  width: 100%;
  padding: 85px 0;
  color: #fff;
}
.about-section .container {
  display: grid;
  grid-template-columns: 1fr 480px;
  gap: 90px;
}
.about-section h1 {
  font-size: 45px;
  margin-bottom: 60px;
}
.about-section .about-text p {
  font-size: 1rem;
  margin-bottom: 30px;
  line-height: 27px;
}
.about-section .industries {
  display: flex;
  gap: 40px;
}
.about-section .statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.about-section .stats {
  text-align: center;
}
.about-section .stats p {
  margin-bottom: 0;
}
.about-section .stats .stats-number {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
}

.featured-works {
  padding: 100px 0;
}
.featured-works .featured-works-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.featured-works .featured-works-list div, .featured-works .featured-works-list img {
  background: red;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #000;
  object-fit: cover;
}

.section-testimonial {
  background: #f6f6f6;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
.section-testimonial .testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 55px;
}
.section-testimonial .testimonial-card {
  position: relative;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 30px;
  height: 200px;
  background: #fff;
  width: 100%;
}
.section-testimonial .testimonial-card::before {
  content: "";
  position: absolute;
  background: #000;
  height: 100%;
  width: 100%;
  top: 6px;
  left: 6px;
  z-index: -1;
  border-radius: 10px;
}

.section-faq {
  padding: 100px 0;
}
.section-faq .accordion {
  margin-top: 65px;
}
.section-faq .accordion .acc-item {
  border-bottom: 1px solid #000;
  padding: 20px 30px;
  cursor: pointer;
}
.section-faq .accordion .acc-item:nth-child(1) {
  border-top: 1px solid #000;
}
.section-faq .accordion .acc-item.active {
  background: #F4F7FF;
}
.section-faq .accordion .acc-question {
  font-size: 18px;
  font-weight: 800;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
.section-faq .accordion .acc-answer {
  margin-top: 25px;
  line-height: 27px;
  max-width: 850px;
}
.section-faq .accordion .acc-arrow {
  height: 35px;
  width: 35px;
  transition: 0.2s;
}
.section-faq .accordion .rotate-45 {
  transform: rotate(-45deg);
  transition: 0.2s;
}

/*# sourceMappingURL=main.css.map */
