@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.btn {
  position: relative;
  width: auto;
  padding: 13px 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 50px;
  outline: none;
  border: 2px solid #1D1D1D;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btn::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  right: -4px;
  bottom: -5px;
  background: #000;
  border-radius: 50px;
  z-index: -1;
}

.btn-red {
  background: #FF5D5D;
}

.btn-white {
  background: #fff;
}

.btn-menu {
  background: none;
  border: none;
}

.navbar {
  height: 100px;
  display: flex;
  align-items: center;
}
.navbar .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar .btn-menu {
  display: none;
}

.hero-section h1 {
  font-size: 65px;
  font-weight: 800;
  margin-bottom: 11px;
  text-align: center;
  margin-top: 115px;
}
.hero-section p {
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 30px;
}
.hero-section .hero-cta {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
.hero-section .hero-cta .btn {
  width: 150px;
}
.hero-section .hero-img {
  display: block;
  margin: 0 auto;
}

.footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer .social-icons {
  display: flex;
  gap: 15px;
}
.footer .footer-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.footer .footer-bottom span {
  font-size: 12px;
  opacity: 0.5;
}
.footer .legal {
  display: flex;
  gap: 30px;
}
.footer .legal a {
  font-size: 12px;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #1D1D1D;
  text-decoration: none;
  font-size: 16px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.section-header h3 {
  font-size: 25px;
  font-weight: 800;
}
.section-header span {
  display: block;
  margin-bottom: 10px;
}

.section-text h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 15px;
}
.section-text p {
  text-align: center;
  line-height: 27px;
}

.partners-section {
  margin-top: 50px;
  padding: 75px;
  background: #F5F5F5;
}
.partners-section h2 {
  text-align: center;
  margin-bottom: 50px;
}
.partners-section .partner-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.services-section {
  padding: 100px 0;
}
.services-section .service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  row-gap: 40px;
}
.services-section .service-card {
  position: relative;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 30px;
}
.services-section .service-icon {
  background: #FF5D5D;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.services-section .service-icon img {
  height: 30px;
  width: 30px;
}
.services-section h4 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #282828;
  font-weight: 800;
}
.services-section p {
  font-size: 16px;
  line-height: 24px;
  color: #3A3A3A;
}
.services-section .cv1::before {
  content: "";
  position: absolute;
  background: #CFE2FF;
  height: 100%;
  width: 100%;
  top: 6px;
  left: 6px;
  z-index: -1;
  border-radius: 10px;
}
.services-section .cv2::before {
  content: "";
  position: absolute;
  background: #FFF4CF;
  height: 100%;
  width: 100%;
  top: 6px;
  left: 6px;
  z-index: -1;
  border-radius: 10px;
}

.about-section {
  background: url("../assets/about-background.webp");
  width: 100%;
  padding: 85px 0;
  color: #fff;
}
.about-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
}
.about-section h1 {
  font-size: 45px;
  margin-bottom: 60px;
}
.about-section .about-text {
  max-width: 480px;
  margin-left: auto;
}
.about-section .about-text p {
  font-size: 1rem;
  margin-bottom: 30px;
  line-height: 27px;
}
.about-section .industries {
  display: flex;
  gap: 40px;
}
.about-section .statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.about-section .stats {
  text-align: center;
}
.about-section .stats p {
  margin-bottom: 0;
}
.about-section .stats .stats-number {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
}

.section-featured {
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
.section-featured .featured-works-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.section-featured .featured-works-list .work-card {
  position: relative;
  height: 300px;
  width: 100%;
}
.section-featured .featured-works-list .work-card::before {
  content: "";
  position: absolute;
  background: #000;
  height: 100%;
  width: 100%;
  top: 6px;
  left: 6px;
  z-index: -1;
  border-radius: 10px;
}
.section-featured .featured-works-list .work-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #000;
}

.section-testimonial {
  background: #f6f6f6;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
.section-testimonial .testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 55px;
}
.section-testimonial .testimonial-card {
  position: relative;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 30px;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-testimonial .testimonial-card::before {
  content: "";
  position: absolute;
  background: #000;
  height: 100%;
  width: 100%;
  top: 6px;
  left: 6px;
  z-index: -1;
  border-radius: 10px;
}
.section-testimonial .testimonial-card p {
  font-style: italic;
  line-height: 27px;
  text-align: center;
}
.section-testimonial .testimonial-card .testimonial-avt {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  border: 2px solid #000;
  object-fit: cover;
  margin: 45px 0 20px;
}
.section-testimonial .testimonial-card h4 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}
.section-testimonial .testimonial-card span {
  font-size: 14px;
  font-weight: 400;
  color: #FF5D5D;
}

.avatar-list {
  display: flex;
  justify-content: center;
  margin: 90px 0 25px;
}
.avatar-list img {
  height: 65px;
  width: 65px;
  border-radius: 100px;
  object-fit: cover;
  margin-left: -10px;
  border: 2px solid #000;
}

.avatar-text {
  text-align: center;
}

.section-faq {
  padding: 100px 0;
}
.section-faq .accordion {
  margin-top: 65px;
}
.section-faq .accordion .acc-item {
  border-bottom: 1px solid #000;
  padding: 20px 30px;
  cursor: pointer;
}
.section-faq .accordion .acc-item:nth-child(1) {
  border-top: 1px solid #000;
}
.section-faq .accordion .acc-item.active {
  background: #F4F7FF;
}
.section-faq .accordion .acc-question {
  font-size: 18px;
  font-weight: 800;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
.section-faq .accordion .acc-answer {
  margin-top: 25px;
  line-height: 27px;
  max-width: 850px;
}
.section-faq .accordion .acc-arrow {
  height: 35px;
  width: 35px;
  transition: 0.2s;
}
.section-faq .accordion .rotate-45 {
  transform: rotate(-45deg);
  transition: 0.2s;
}

.section-email {
  overflow-x: hidden;
}

.email-cta {
  position: relative;
  height: 310px;
  width: 100%;
  background: #3C73FF;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 0 60px;
  display: flex;
  align-items: center;
  margin: 50px 0 90px;
}
.email-cta .email-text {
  margin-bottom: 40px;
  color: #fff;
}
.email-cta .email-text h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
.email-cta .email-text p {
  line-height: 27px;
  font-weight: 300;
}
.email-cta .email-figure {
  position: absolute;
  right: 0;
  bottom: -5px;
  transform: translateX(40px);
}

@media screen and (max-width: 900px) {
  .navbar .nav-links {
    display: none;
  }
  .navbar .btn-red {
    display: none;
  }
  .navbar .btn-menu {
    display: block;
  }
  .hero-section .hero-img {
    width: 100%;
  }
  .hero-section h1 {
    font-size: 40px;
    margin-top: 105px;
  }
  .hero-section p {
    font-size: 14px;
  }
  .services-section {
    padding: 80px 0;
  }
  .services-section .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .about-section .container {
    grid-template-columns: 1fr;
  }
  .about-section .about-text {
    max-width: 100%;
  }
  .section-featured {
    padding: 80px 0;
  }
  .section-featured .featured-works-list {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .section-testimonial {
    padding: 80px 0;
  }
  .section-testimonial .testimonials {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .section-faq {
    padding: 80px 0;
  }
  .email-cta {
    padding: 20px;
    margin: 50px 0;
  }
  .email-cta img {
    display: none;
  }
  .footer .footer-top {
    flex-direction: column;
    gap: 30px;
  }
  .footer .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .hero-section h1 {
    font-size: 25px;
  }
  .hero-section p {
    font-size: 14px;
  }
  .hero-section br {
    display: none;
  }
  .hero-section .hero-cta {
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  .hero-section .hero-cta .btn {
    width: 250px;
  }
  .partners-section {
    padding: 50px 0;
  }
  .partners-section h2 {
    font-size: 16px;
  }
  .partners-section .partner-list {
    flex-direction: column;
  }
  .services-section .service-list {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
