@media screen and (max-width: 600px)
  .navbar 
    .nav-links 
      display: none

    .btn-red 
      display: none

    .btn-menu 
      display: block
    
  .hero-section
    .hero-img 
      width: 100%

    h1 
      font-size: 25px
      margin-top: 105px

    p 
      font-size: 14px 

    br 
      display: none

    .hero-cta
      flex-direction: column
      align-items: center
      margin-bottom: 70px

      .btn 
        width: 250px

  .partners-section
    padding: 50px 0

    h2 
      font-size: 16px

    .partner-list 
      flex-direction: column

  .services-section 
    .service-list 
      grid-template-columns: 1fr !important

  .about-section 
    .container
      grid-template-columns: 1fr !important

  .section-featured
    .featured-works-list
      grid-template-columns: 1fr !important

  .section-testimonial 
    .testimonials 
      grid-template-columns: 1fr !important

  .email-cta
    padding: 20px  
    img 
      display: none

  .footer
    .footer-top
      flex-direction: column
      gap: 30px

    .footer-bottom
      flex-direction: column
      align-items: center
      gap: 20px